<!-- <p>word works!</p>
<h1>TinyMCE 5 Angular Demo</h1>
-->
<!-- lx5qjyaz66f3od45germ9fgpcny997t5763la5zyoolvzfbc -->

<editor [init]="{
  base_url: '/tinymce',
  height: 500,
  menubar: true,
  plugins: [
    'advlist autolink lists link image charmap print',
    'preview anchor searchreplace visualblocks code',
    'fullscreen insertdatetime media table paste',
    'help wordcount example wpxDates helloworld'
  ],
  toolbar:
    'undo redo | formatselect | bold italic | \
    alignleft aligncenter alignright alignjustify | \
    bullist numlist outdent indent | help | example | wpxDates | \ 
    helloworld',
    contextmenu:'paste | example | wpxDates'
}" ></editor>  
<!--
<editor apiKey="lx5qjyaz66f3od45germ9fgpcny997t5763la5zyoolvzfbc" [init]="{
    height: 500,
    menubar: true,
    plugins: [
      'advlist autolink lists link image charmap print',
      'preview anchor searchreplace visualblocks code',
      'fullscreen insertdatetime media table paste',
      'help wordcount example'
    ],
    toolbar:
      'undo redo | formatselect | bold italic | \
      alignleft aligncenter alignright alignjustify | \
      bullist numlist outdent indent | help | example',
      contextmenu:'paste | example'
  }" ></editor>
-->
<!--
<editor [init]="{
  base_url: '/tinymce',
  height: 500,
  menubar: true,
  plugins: [
    'advlist autolink lists link image charmap print',
    'preview anchor searchreplace visualblocks code',
    'fullscreen insertdatetime media table paste',
    'help wordcount example'
  ],
  toolbar:
    'undo redo | formatselect | bold italic | \
    alignleft aligncenter alignright alignjustify | \
    bullist numlist outdent indent | help | example',
    contextmenu:'paste | example'
}" ></editor>
-->