<div class="divGeneral row">
    <div class="col-10 divGroup">
      <div class="divCanvas">
        <canvas baseChart [datasets]="barChartDataIncome" [labels]="barChartLabelsInCome" [options]="barChartOptionsIncome"
          [colors]="barChartColorsIncome" [legend]="barChartLegendIncome" [chartType]="barChartTypeIncome">
        </canvas>
  
      </div>
  
      <div class="divCanvas">
        <canvas baseChart [datasets]="barChartDataNProt" [labels]="barChartLabelsNProt" [options]="barChartOptionsNProt"
          [colors]="barChartColorsNProt" [legend]="barChartLegendNProt" [chartType]="barChartTypeNProt">
        </canvas>
  
      </div>
 
    </div>
 
    <div class="col-10 divGroup">
      <div class="divCanvas">
        <canvas baseChart [datasets]="barChartDataPend" [labels]="barChartLabelsPend" [options]="barChartOptionsPend"
          [colors]="barChartColorsPend" [legend]="barChartLegendPend" [chartType]="barChartTypePend">
        </canvas>
  
      </div>
  
      <div class="divCanvas">
        <canvas baseChart [datasets]="barChartDataNPol" [labels]="barChartLabelsNPol" [options]="barChartOptionsNPol"
          [colors]="barChartColorsNPol" [legend]="barChartLegendNPol" [chartType]="barChartTypeNPol">
        </canvas>
  
      </div>
  
    </div>
  
  
  
  
  </div>
